/* breadcrumb
*******************************************************************/

[aria-label="breadcrumb"] {
    background: $gray-100;
}

.breadcrumb {
    background: none;
    padding-left: 0;
    padding-right: 0;
}
