/* toasts
*******************************************************************/

.toast-wrapper {
    position: sticky;
    top: 20px;
    margin: -40px 15px 0;
    float: right;
    z-index: 11;
    height: 0;
    .toast {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        position: relative;
        border-radius: .5rem;
        .close {
            position: absolute;
            right: 16px;
            top: 8px;
        }
        .toast-icon {
            i {
                padding: .75rem 1rem;
                font-size: 32px;
                height: 100%;
                color: $white;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                &.icon-alert-info {
                    background-color: rgba($alert-blue,.8);
                }
                &.icon-alert-error {
                    background-color: rgba($alert-red,.8);
                }
                &.icon-alert-danger {
                    background-color: rgba($alert-yellow,.8);
                }
                &.icon-alert-check {
                    background-color: rgba($alert-green,.8);
                }
            }
        }
        .toast-body {
            -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
            -webkit-box-flex: 1;
            -ms-flex-positive: 1;
            flex-grow: 1;
            padding: .75rem 3rem .75rem .75rem;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
        }
    }
}
